.tic-tac-board {
    background-color: white;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: auto auto auto;
    width: 500px;
    height: 500px;
}

.tic-tac-board>div {
    border: 1px solid;
    align-items: center;
    text-align: center;
}

.tic-tac-board>div:nth-child(-n+3) {
    border-top: none;
    border-left: none;
}

.tic-tac-board>div:nth-child(n+7) {
    border-bottom: none;
    border-left: none;
}

.tic-tac-board>div:nth-child(n+4) {
    /* border-bottom: none; */
    border-left: none;
}

.tic-tac-board>div:nth-child(3n) {
    /* border-bottom: none; */
    border-right: none;
}